# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pkl

# Datasets / Outputs
data/
*.wav
*.mp3
*.npy
*.pt
*.onnx
*.h5

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VSCode or PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
